<div class="row-fluid" style="padding-top:10px;">
  <div class="span12 well" id="share-form" style="display:none;">
    <h2>Share something new:</h2>
    <%= form_for [@group, Post.new], :remote => true do |p| %>
      <%= p.text_area :post_data, :class => "span12", :style => "height:100px;", :id => "share-form-input" %>
      <%= p.submit "Post it!", :class => "btn", :id => "share-form-submit" %>
      <%= link_to 'Cancel', "javascript:void(0);", :class => "btn", :onclick => "$('#share-form').fadeToggle(); $('#share-form-input').val('');" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var clicked = false;
  $('#share-form-input').bind('keyup', 'ctrl+return', function(){
    $('#share-form-submit').click();
  });

  $('#share-form-input').bind('keyup', 'ctrl+enter', function(){
    $('#share-form-submit').click();
  });
</script>
