<div id="share-button">
  <%= button_to 'Share something!', { :controller => 'groups', :action => 'show_share' }, :remote => true, :method => :get, :class => "btn btn-primary btn-large span12", :style => 'font-size:large;' %>
</div>
