<div id="share-button">
  <%= link_to 'Share something!', '#', :class => "btn btn-primary btn-large span12", :style => 'font-size:large;', :onclick => "$('#share-form').fadeToggle(); $('#share-form-input').focus();" %>
</div>
