<div class="row-fluid">
  <div>
    <div>
      <h1 style="display:inline; margin-right:20px;"><%= @user.email %></h1><%= link_to "Edit profile", edit_user_path(@user) %>
    </div>
    <h3>Display name</h3>
    <%= @user.name %>
    
  </div>

  <div id="pending-invites">
    <h2>Pending Invites</h2>
    <% i = 0 %>
    <% @user.group_invites.each do |invite| %>
      <% if i % 3 == 0 %>
        <div class="row-fluid">
        <% end %>
        <%= render :partial => 'invite', :locals => { :invite => invite } %>
        <% if i % 3 == 0 %>
        </div>
      <% end %>
    <% end %>
    <% if i % 3 != 0 %>
    </div>
  <% end %>
</div>
</div>
