<div class="row">
  <div class="span8 offset2" style="text-align: center;">
    <h1 style="font-size:500%; padding-top:80px; padding-bottom:20px;">grp of ppl</h1>
    <h3>Because being together is more fun?</h3>
    <%= button_to "Start a new group!", { :action => "new" }, { :class => "btn btn-large btn-primary", :method => "get", :style => "font-size:250%; margin-top:20px;" } %>
  </div>
</div>
